$background-color: #ffffff;
$hover-color : #dddf9a;
$accent-color: #e3c6ad;
$accent-color-dark:#F9D8D6;

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
}

/* Ancho */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Base */
  ::-webkit-scrollbar-track {
    background: $accent-color-dark;
  }
  
  /* Scroll */
  ::-webkit-scrollbar-thumb {
    background: $accent-color;
   
  }
  
  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $hover-color;
  }