@use "global";

.search-nav {
  display: flex;
  margin-top: 1em;
  background-color: global.$background-color;
  padding-inline: 4em;
  align-items: center;
  justify-content: center;
  gap: 1em;

  h1 {
    font-weight: 1400;
    font-size: xx-large;
    font-family: "Times New Roman", serif;
    cursor: pointer;
  }
  .search-label {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    max-width: 40em;
    input {
      all: unset;
      width: 100%;
      text-align:left ;
      cursor: text;
      height: 1.5em;
      padding-left: 0.5em;
      padding-block: 0.2em ;
      padding-right:2em;
      border-radius: 15px;
    }

    img{
      margin-left: -2em;
      cursor: pointer;
    }
    input:focus{
      border: 2px solid black;

    }
  }

}

.tags-nav {
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    justify-content: center;
    height: 3em;
    align-items: center;
    .nav__item:first-child{
      font-weight: 600;
      color: black;
    }
    li {
      text-transform: uppercase;
      font-weight: 300;
      color: grey;
      cursor: pointer;
      padding: 0.2em;
      display: inline-block;
    }
    .nav-item:hover {
      font-weight: 600!important;
      color: black!important;
    }
  }
}

.featured-list {
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 30vw 30vw 30vw;
  display: grid;
  transition: all 200ms ease-in-out;
  grid-template-areas:
    "firstPost secondPost fithPost"
    "firstPost thirdPost fithPost"
    "firstPost fourthPost fithPost";

  .post {
    margin-inline: 1em;
  }

  .post:first-child {
    align-items: center;

    grid-area: firstPost;
    .post__content {
      right: 0;
      margin-left: auto;
    }
  }
  .post:nth-child(2) {
    grid-area: secondPost;
  }
  .post:nth-child(3) {
    grid-area: thirdPost;
  }
  .post:nth-child(4) {
    grid-area: fourthPost;
  }
  .post:last-child {
    grid-area: fithPost;
  }

  .post:first-child,
  .post:last-child {
    div {
      flex-direction: column;
    }
    .post__content {
      padding-block: 1em;
    }
  }
  .post:nth-child(2),
  .post:nth-child(3),
  .post:nth-child(4) {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    height: 7em;
    br {
      display: none;
    }
    .post__content {
      margin-block: 0;
      padding-block: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h3 {
      font-size: medium;
    }

    img {
      height: 7em;
      width: 7em;
    }
  }
}

.post {
  margin: 0.5em;
  transition: all 150ms ease-in-out;
  
  .post__content {
    overflow: hidden;
    .post__body {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: grey;
    }
    .post__created-at {
      font-size: smaller;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 15em;
  }
}

.post:hover {
  background-color: global.$accent-color;
  cursor: pointer;
  transform: scale(1.05);
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  transition: all 200ms ease-in-out;
  gap: 2em;

  .post {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    gap: 4em;

    div {
      justify-content: space-between;
    }
    img {
      height: 8em;
      width: 8em;
    }
  }
}

.post-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.689);
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  opacity: 0;

  .post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    background-color: aliceblue;
 
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0;
    position: relative;
    transition: all 200ms ease-in-out;
    margin-top: -100%;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
      max-height: 15em;
      border-radius: 3px 15px 3px 15px;
      border: 4px groove grey;
    }

    .post-page__image-url{
      display: none;
      width: 80%;
      align-items: center;
      input{
        background-color: global.$accent-color;
        cursor: text;
        width: 80%;
        padding-inline: 0.5em;
        padding-block:0.2em;
        border-radius: 15px;
      }
    }
    .post-page__cross {
      position: absolute;
      right: 1em;
      padding: 1em;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      gap: 1em;
      input {
        all: unset;
        font-family: "Libre Franklin", sans-serif;
      }

      .post-page__title {
        padding-inline: 0.5em;
        padding-block:0.2em;
        border-radius: 15px;
        width: 100%;
        font-size: large;
        font-weight: 600;
        word-wrap: break-word;
        height: max-content;
        margin-bottom: auto;
        input {
          width: 100%;
        }

        p{
          display: none;
          background-color: none;
        }
      }

      .post-page__author {
        align-self: flex-start;
        color: grey;
        input {
          border-radius: 15px;
          padding-block: 0.2em;
          padding-inline: 0.4em;
        }
      }

      .post-page__tags {
        align-self: flex-start;
        color: grey;

        select {
          all: unset;
          font-family: "Libre Franklin", sans-serif;
          border-radius: 15px;
          padding-block: 0.2em;
          padding-inline: 0.4em;
        }
      }
      .post-page__body{
        p{
          display: none;
        }
      }
      textarea {
        all: unset;
        width: 100%;
        border-radius: 15px;
        padding: 0.4em;
      }
    }
    .post-page__buttons {
      align-self: flex-end;
      display: flex;
      gap: 1em;
      padding-inline: 1em ;
      padding-bottom: 1em;
      button, input {
        all: unset;
        cursor: pointer;
        background-color: global.$accent-color-dark;
        color: white;
        padding: 0.5em;
        border-radius: 5px 3px 5px 3px;
      }

    }
  }
}

.featured-title{
  display: none;
}

.post-page__form--edit {
  .post-page__title {
    
    input {
      cursor: text!important;
    }
  }
  .post-page__author {
    input{
      background-color: global.$accent-color!important;
      cursor: text!important;
    }

  }
  .post-page__tags {
    select {
      background-color: global.$accent-color!important;
      cursor: pointer!important;
    }
  }
 
  textarea{
    background-color: global.$accent-color!important;
    
    cursor: text!important;
  }
}

.other-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
  
  padding: 1em;
  padding-bottom: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.375);

  .post-list__warning{
    display: none;
    font-size: large;
    font-weight: 500;
  }
}

.post-list__pages{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
  background-color: global.$accent-color;
  padding: 0;


  .pages__arrows{
    background-color: var(--clr-main-light);
    padding: 0.5em;
  }

  .pages__dots{
    cursor: default;
  }
  
  .pages__page{
    background-color: var(--clr-main-light);
    padding-block: 0.5em;
    padding-inline: 0.7em;
  }

  .pages__current{
    cursor: default!important;
    background-color: global.$accent-color-dark;
    color: white;

  }

  .pages__arrows, .pages__page{
    cursor: pointer;
    font-weight: 600;
  }

  
  .pages__arrows:hover, .pages__page:hover{
    background-color: global.$hover-color;
    transform: scale(1.2);
  }

  .pages__current:hover{
    transform: unset;
    background-color: global.$accent-color-dark;
  }
}

.add-post{
  all: unset;
  display: block;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 4em;
  background-color: global.$accent-color;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}




@media (max-width:760px) {
  .other-posts{
    padding: 0;

    .post-list{
      width: 90%;
    }

    .post{
      gap: 0.1em;
    }
  }
  .featured-title{
    display: block;
    margin: 1em;
  }
  .featured-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    align-self: center;
    gap: 1em;
    .post{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      align-items: center;
   
      img{
        height: 8em!important;
        width: 8em!important;
        object-fit: cover;
        align-self: center;
      }
    }
    br{
      display: unset!important;
    }
  }

  .tags-nav{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: global.$background-color;
    top: 0;
    transform: translateX(-100%);
    transition: all 200ms ease-in-out;
    z-index: 100;
    ul{
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      font-size: larger;
      overflow: hidden;
    }
  }

  .nav-toggle{
    display: inline-block!important;
  }

  .nav-open .tags-nav{
    transform: translateX(0vw);
  }
}

@media (max-width:360px) {
  .post-list, .featured-list{
    .post{
      display: flex;
      flex-direction: column;
      div{
        width: 100%;
        
      }
      img{
        display: inline-block;
        align-self: center;
        width: max-content;
       
        width: 100%;
      }
    }
  }
  .featured-list{

    gap: 2em;

    .post{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: unset!important;
      max-height: unset!important;
      br{
        display: unset!important;
      }
      div{
        width: 100%;
        
      }
      img{
        display: inline-block;
        align-self: center;
        width: max-content;
        object-fit: cover!important;
        width: 100%!important;
        height: 8em;
      }
      max-height: 15em;
    }
  }

  .search-nav{
    padding-left: 1em;
  }

}
@media (min-width:760px) {
@media (max-width:1050px){
  .featured-list{
    align-items: unset!important;
    grid-template-areas:
    "firstPost firstPost"
    "secondPost thirdPost"
    "fourthPost fithPost"
    ;
    grid-template-rows: 2fr  1fr;
    grid-template-columns: 45vw 45vw;
    .post{
      height: fit-content!important;
      margin: 0!important;
      margin-inline: 0.2em!important ;
    }
    .post:first-child{
      margin-bottom:1em !important ;
    }
    .post:nth-child(2),
    .post:nth-child(3),
    .post:nth-child(4),
    .post:nth-child(5){
      display: flex!important;
      gap: 1em;

      justify-content: space-between;
      height: 7em;
      br {
        display: none!important;
      }
      .post__content {
        margin-block: 0!important;
        padding-block: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h3 {
        font-size: medium;
      }

      img {
        height: 7em!important;
        width: 7em!important;
      }
    }

  }
}
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.9em;
  z-index: 200;
  display: none;
  
}
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
  background-color: black;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: black;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}








