@use "global";

.search-nav {
  display: flex;
  margin-top: 1em;
  background-color: global.$background-color;
  padding-inline: 4em;
  align-items: center;
  justify-content: center;
  gap: 1em;

  h1 {
    font-weight: 1400;
    font-size: xx-large;
    font-family: "Times New Roman", serif;
  }
  .search-label {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    max-width: 40em;
    input {
      all: unset;
      width: 100%;
      text-align:left ;
      cursor: text;
      height: 1.5em;
      padding-left: 0.5em;
      padding-block: 0.2em ;
      padding-right:2em;
      border-radius: 15px;
    }

    img{
      margin-left: -2em;
      cursor: pointer;
    }
    input:focus{
      border: 2px solid black;

    }
  }

}

.tags-nav {
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    justify-content: center;
    height: 3em;
    align-items: center;

    li {
      text-transform: uppercase;
      font-weight: 300;
      color: grey;
      cursor: pointer;
      padding: 0.2em;
      display: inline-block;
    }
    li:hover {
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }
  }
}

.featured-list {
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 30vw 30vw 30vw;
  display: grid;
  grid-template-areas:
    "firstPost secondPost fithPost"
    "firstPost thirdPost fithPost"
    "firstPost fourthPost fithPost";

  .post {
    margin-inline: 1em;
  }

  .post:first-child {
    align-items: center;

    grid-area: firstPost;
    .post__content {
      right: 0;
      margin-left: auto;
    }
  }
  .post:nth-child(2) {
    grid-area: secondPost;
  }
  .post:nth-child(3) {
    grid-area: thirdPost;
  }
  .post:nth-child(4) {
    grid-area: fourthPost;
  }
  .post:last-child {
    grid-area: fithPost;
  }

  .post:first-child,
  .post:last-child {
    div {
      flex-direction: column;
    }
    .post__content {
      padding-block: 1em;
    }
  }
  .post:nth-child(2),
  .post:nth-child(3),
  .post:nth-child(4) {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    height: 7em;
    br {
      display: none;
    }
    .post__content {
      margin-block: 0;
      padding-block: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h3 {
      font-size: medium;
    }

    img {
      height: 7em;
      width: 7em;
    }
  }
}

.post {
  margin: 0.5em;
  transition: all 150ms ease-in-out;
  
  .post__content {
    overflow: hidden;
    .post__body {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: grey;
    }
    .post__created-at {
      font-size: smaller;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  img {
    width: 100%;
    object-fit: cover;
    max-height: 15em;
  }
}

.post:hover {
  background-color: global.$accent-color;
  cursor: pointer;
  transform: scale(1.05);
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
 
  gap: 2em;


  .post {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    gap: 4em;

    div {
      justify-content: space-between;
    }
    img {
      height: 8em;
      width: 8em;
    }
  }
}

.post-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  opacity: 0;

  .post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    background-color: aliceblue;
    min-width: 75%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0;
    position: relative;
    transition: all 200ms ease-in-out;
    margin-top: -100%;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      object-fit: contain;
      max-height: 15em;
      border-radius: 3px 15px 3px 15px;
      border: 4px groove grey;
    }

    .post-page__image-url{
      display: none;
      width: 80%;
      align-items: center;
      input{
        background-color: global.$accent-color;
        cursor: text;
        width: 80%;
        padding-inline: 0.5em;
        padding-block:0.2em;
        border-radius: 15px;
      }
    }
    .post-page__cross {
      position: absolute;
      right: 1em;
      padding: 1em;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      gap: 1em;
      input {
        all: unset;
        font-family: "Libre Franklin", sans-serif;
      }

      .post-page__title {
        padding-inline: 0.5em;
        padding-block:0.2em;
        border-radius: 15px;
        width: 100%;
        font-size: large;
        font-weight: 600;
        word-wrap: break-word;
        height: max-content;
        margin-bottom: auto;
        input {
          width: 100%;
        }

        p{
          display: none;
          background-color: none;
        }
      }

      .post-page__author {
        align-self: flex-start;
        color: grey;
        input {
          border-radius: 15px;
          padding-block: 0.2em;
          padding-inline: 0.4em;
        }
      }

      .post-page__tags {
        align-self: flex-start;
        color: grey;

        select {
          all: unset;
          font-family: "Libre Franklin", sans-serif;
          border-radius: 15px;
          padding-block: 0.2em;
          padding-inline: 0.4em;
        }
      }
      .post-page__body{
        p{
          display: none;
        }
      }
      textarea {
        all: unset;
        width: 100%;
        border-radius: 15px;
        padding: 0.4em;
      }
    }
    .post-page__buttons {
      align-self: flex-end;
      display: flex;
      gap: 1em;
      padding-inline: 1em ;
      padding-bottom: 1em;
      button, input {
        all: unset;
        cursor: pointer;
        background-color: global.$accent-color-dark;
        color: white;
        padding: 0.5em;
        border-radius: 5px 3px 5px 3px;
      }

    }
  }
}


.post-page__form--edit {
  .post-page__title {
    
    input {
      cursor: text!important;
    }
  }
  .post-page__author {
    input{
      background-color: global.$accent-color!important;
      cursor: text!important;
    }

  }
  .post-page__tags {
    select {
      background-color: global.$accent-color!important;
      cursor: pointer!important;
    }
  }
 
  textarea{
    background-color: global.$accent-color!important;
    
    cursor: text!important;
  }
}

.other-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
  
  padding: 1em;
  padding-bottom: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.375);
}

.post-list__pages{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
  background-color: global.$accent-color;
  padding: 0;


  .pages__arrows{
    background-color: var(--clr-main-light);
    padding: 0.5em;
  }

  .pages__dots{
    cursor: default;
  }
  
  .pages__page{
    background-color: var(--clr-main-light);
    padding-block: 0.5em;
    padding-inline: 0.7em;
  }

  .pages__current{
    cursor: default!important;
    background-color: global.$accent-color-dark;
    color: white;

  }

  .pages__arrows, .pages__page{
    cursor: pointer;
    font-weight: 600;
  }

  
  .pages__arrows:hover, .pages__page:hover{
    background-color: global.$hover-color;
    transform: scale(1.2);
  }

  .pages__current:hover{
    transform: unset;
    background-color: global.$accent-color-dark;
  }
}

.add-post{
  all: unset;
  display: block;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 4em;
  background-color: global.$accent-color;
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}




@media (max-width:800px) {

}












